<%- include("../partials/header") %>
<h1>welcome to new cohorts</h1>
<form method="POST" action="/cohorts">
    <div class="form-group">
    <h2>Logo URL</h2>
        <input 
            type="url"
            class="form-control" 
            name="logourl" 
            placeholder="Enter the URL"
        >
    </div>
    <div class="form-group">
    <h3>Name</h3>
        <input 
            type="name" 
            name="name" 
            class="form-control" 
            placeholder="Enter name of cohort"
        >
    </div>
    <div class="form-group">
    <h4>Members</h4>
        <textarea 
            class="form-control"
            name="members" 
            placeholder="Enter name of members"
        ></textarea>
    </div>
    <input type="submit" class="btn btn-outline-success" value="Submit">
</form>
<%- include("../partials/footer") %>