<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super Team Picker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <body>
        <header> 
            <nav>
                <a href="/">Super Team Picker</a>
                |
                <a href="/">Home</a>
                |
                <a href="/cohorts">Cohorts</a>
                |
                <a href="/cohorts/new">New Cohorts</a>
                
            </nav>
        </header>